In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('salary_data_cleaned')

In [5]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,hourly,yearly,Average Salary,job_state,age,python_yn,R_yn,spark_yn,aws_yn,excel_yn
0,"NAMS2 - Data Scientist I, II, III",$101K\r\n/yr,Company Description\r\n\r\nCrown is a leader i...,3.8,"Crown Consulting, Inc.","Mountain View, CA",201 to 500 Employees,1989.0,Company - Private,National Agencies,...,0,1,101.0,CA,35.0,0,0,0,0,0
1,Data Scientist,$121K\r\n/yr,Title: Data Scientist - Big Data Engineer\r\nP...,3.1,Radiant Digital,"Austin, TX",201 to 500 Employees,2000.0,Company - Private,Enterprise Software & Network Solutions,...,0,1,121.0,TX,24.0,1,0,0,1,0
2,Data Scientist,$57.50\r\n/hr,Proven experience in data conversion and repor...,Not listed,Tekfocus Minds LLC,Remote,Unknown,NaN,Company - Public,--,...,1,0,57.5,Remote,NaN,1,0,0,1,0
3,Data Scientist,$55.50\r\n/hr,Job Overview:\r\nThe Office of the Attorney Ge...,5.0,Advanced Proactive Solutions LLC,"Austin, TX",Unknown,NaN,Company - Private,Security & Protective,...,1,0,55.5,TX,NaN,1,0,0,1,0
4,"Data Scientist, Data Lake",$90K\r\n/yr,"For over 90 years, Topcon’s vision has been to...",3.2,Topcon Healthcare,"La Jolla, CA",201 to 500 Employees,NaN,Company - Public,Health Care Services & Hospitals,...,0,1,90.0,CA,NaN,1,0,0,1,0

In [7]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'hourly', 'yearly', 'Average Salary',
       'job_state', 'age', 'python_yn', 'R_yn', 'spark_yn', 'aws_yn',
       'excel_yn'],
      dtype='object')